In [1]:
# import libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from pylab import rcParams

import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import scale

In [2]:
%matplotlib inline
rcParams['figure.figsize'] = 5, 4

In [3]:
import seaborn as sb
sb.set_style('whitegrid')
from collections import Counter

In [8]:
address = 'demo/data/enrollment_forecast.csv'
enroll = pd.read_csv(filepath_or_buffer=address)
enroll.head()

   year  roll  unem  hgrad   inc
0     1  5501   8.1   9552  1923
1     2  5945   7.0   9680  1961
2     3  6629   7.3   9731  1979
3     4  7556   7.5  11666  2030
4     5  8716   7.0  14675  2112